<h1>Tasks</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><%= link_to task.id, action: :show, id: task.id %></td>
                <td><%= task.description %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Create new task", action: :new %>