<h1>SIMPLE TODO LIST</h1>
<h2>FROM RUBY GARAGE</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <% @projects.each do |project| %>
            <tr>
                <td><%= link_to project.id, project %></td>
                <td><%= project.name %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to "Create project", new_project_path %>