<h1>SIMPLE TODO LIST</h1>
<h2>FROM RUBY GARAGE</h2>
<div ng-controller="TodoListController as todoList">
	<div ng-repeat="project in todoList.projects">
		<div class="all">
			<div class="header">
				<div class="img_deadline"></div>
				<div class="top">
					<div ng-show="todoList.inputEditActive == project.id">
						<input ng-show="todoList.inputEditActive" ng-model="todoList.inputEdit" type="text"/>
						<buttom ng-click="todoList.updateProject(todoList.inputEdit, project)" class="edit_project">Edit</buttom>
					</div>
					<div ng-show="todoList.inputEditActive != project.id">
						{{project.name}}
					</div>
				</div>
				<div ng-click="todoList.deleteProject(project.id)" class="img_delete"></div>
				<div ng-click="todoList.editProject(project)" class="img_edit"></div>
			</div>
			<div class="tasks">
			  <div class="img_plus"></div>
			  <div class="new_task" id="new_task" action="/tasks" accept-charset="UTF-8" data-remote="true" method="post">
					<input placeholder="Start typing here to reate a task..." type="text" name="task[name]" class="task_name" class="error-field">
					<!-- <input type="submit" name="commit" value="Add Task" class="task_add_submit"> --->
					<button class="task_add_submit">Add Task</button>
			  </div>
			</div>
			<div class="task_numb">
			  <div class="tbody">
			    <tr class="task " id="task17">
			      <td class="done">	
			    	<div class="done">
				     	<input type="checkbox" name="done" class="task_done">
			  	  		<form class="edit_task" id="edit_task_17" action="/done/17" accept-charset="UTF-8" data-remote="true" method="post">
			  	  	</div>
			        </form>
			      </td>
				<td class="row">
				</td>
				<td class="title">
					<div class="task_title">
						<span class="name" id="taskname17">Progect1</span>
					</div>
					<div class="icons">
						<a href="#"><div class="img_edit"></div></a>
						<a href="#"><div class="img_delete"></div></a>
					</div>
						  <div class="date">
							<span id="taskdeadline17"></span>
						  </div>
					  </span>
				  </td>
			    </tr>
			  </div>
			</div>
		</div>
	</div>
    <button ng-click="todoList.addProject()" class="add_todo">Add TODO List</button>
	<input ng-show="todoList.inputActive" ng-model="todoList.input" type="text"/>
	
</div>