<h1>SIMPLE TODO LIST</h1>
<h2>FROM RUBY GARAGE</h2>
<div ng-controller="TodoListController as todoList">
	<div ng-repeat="project in todoList.projects">
		<div class="all">
			<div class="header">
				<div class="img_deadline"></div>
				<div class="top">
					<div ng-show="todoList.inputEditActive == project.id">
						<input ng-show="todoList.inputEditActive" ng-model="todoList.inputEdit" type="text"/>
						<button ng-click="todoList.updateProject(todoList.inputEdit, project)" class="edit_project">Edit</button>
					</div>
					<div ng-show="todoList.inputEditActive != project.id">
						{{project.name}}
					</div>
				</div>
				<div ng-click="todoList.deleteProject(project.id)" class="img_delete"></div>
				<div ng-click="todoList.editProject(project)" class="img_edit"></div>
			</div>
			<div class="tasks">
			  <div class="img_plus"></div>
			  <div class="new_task" id="new_task">
					<input placeholder="Start typing here to Ñreate a task..." type="text" ng-model="project.newTask" class="task_name" class="error-field">
					<!-- <input type="submit" name="commit" value="Add Task" class="task_add_submit"> --->
					<button class="task_add_submit" ng-click="todoList.createTask(project, project.new_task)">Add Task</button>
			  </div>
			</div>
			 <div ng-repeat="task in project.tasks">
        <div class="task_numb">
            <tr class="task " id="task17">
              <td class="done">
                <div class="done">
                  <input type="checkbox" name="done" class="task_done"
                         ng-model='task.completed'
                         ng-change='todoList.toggleComplete(task)'>
                </div>
              </td>
              <td class="row">
              </td>
              <td class="title">
                <div class="task_title">
                  <div ng-if="todoList.inputEditTask === task.id">
                    <input ng-model="todoList.newTaskDescription" type="text"/>
                    <button ng-click="todoList.updateTask(project.id, task.id)">save</button>
                    <button ng-click="todoList.inputEditTask = 0">cancel</button>
                  </div>
                  <span class="name" ng-class="task.completed ? 'class-completed' : '' " ng-show="todoList.inputEditTask != task.id">{{task.description}}</span>
                </div>
                <div class="icons">
                  <div ng-click="todoList.editTask(task.id)" class="img_edit"></div>
                  <div ng-click="todoList.deleteTask(project.id, task)" class="img_delete"></div>
                </div>
                <div class="date">
                  <span id="taskdeadline17"></span>
                </div>
                </span>
              </td>
            </tr>
          
          </div>
        </div>
			

      
		</div>
	</div>
    <button ng-click="todoList.addProject()" class="add_todo">Add TODO List</button>
	<input ng-show="todoList.inputActive" ng-model="todoList.input" type="text"/>
	
</div>
